th{
    color: black;
    background-color: #DDDDDD;
    border-color: white;
    text-align:  center;
}
table{
    border: 10px;
    background-color: #DDDDDD;
    border-color:black;
}
.btn{
    color:black;
    background-color: #FFDE59;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}