<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #13664D;">
    <div class="container-fluid">
         <a class="navbar-brand" href="#" disabled>
          <img src="https://cdn-icons-png.flaticon.com/512/53/53283.png"
          alt="" width="35" height="35" class="d-inline-block align-text-top">
              Torneo de futbol
            </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="./component/torneos">Torneos</a>
          <a class="nav-link" href="./component/jugadores">Jugadores</a>
          <a class="nav-link" href="./component/equipos">Equipos</a>
          <a class="nav-link" href="./component/arbitros">Arbitros</a>
          <!-- <a class="nav-link" href="../../auth/login/">Salir</a> -->
        </div>
      </div>
    </div>
</nav>